@import url(./buttons.css);
@import url(./container.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

h1 {
  margin-top: 80px;
  margin-bottom: 33px;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}

#input {
  width: 356px;
  height: 38px;
  color: #020000;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding-left: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
}

p {
  word-wrap: break-word;
}
